.filters {
    @apply list-none;

    &__criteria {
        &-header {
            @apply text-lg py-2;
        }
        &-items {
            @apply list-none mt-2;

            .filters__criteria-button {
                @apply relative bg-gray-200 rounded;
                font-size: 0.9rem;
                @apply p-2 pl-8 mt-1;
                &::before {
                    @apply absolute text-white bg-black rounded-full leading-none;
                    @apply flex items-center justify-center mr-2 font-bold;
                    content: "\00d7";
                    font-size: 1rem;
                    float: left;
                    width: 1.2rem;
                    height: 1.2rem;
                    left: 0.5rem;
                }
            }
        }
    }

    .filter {
        &__items {
            @apply list-none;
        }
        &__item {
            padding: 0;
            margin: 0;
            @apply border-0;
            &-button {
                @apply block border-b border-solid py-2 text-sm flex flex-row w-full text-left;
            }
        }
        .filter__limiter {
            display: flex;
            padding: 0;
            margin: 0;
            @apply border-b border-solid py-2 text-sm flex flex-row w-full text-left;
            &-more {
                @apply flex flex-row border-0 ml-2;
                &::after {
                    content: "\002B";
                    background: #ededed;
                    @apply font-bold rounded-full h-5 w-5 flex ml-1 items-center justify-center;
                }
            }
            &-less {
                @apply flex flex-row border-0 ml-2;
                &::after {
                    content: "\002D";
                    background: #ededed;
                    @apply font-normal rounded-full h-5 w-5 flex ml-1 items-center justify-center;
                    font-size: 2rem;
                    padding-bottom: 0.2rem;
                }
            }
        }
        .accordion__header {
            .filter__header {
                @apply text-xl border-b border-solid py-3;
                font-size: 1.04166875rem;
                &-text {
                    @apply font-semibold;
                }

                &::after {
                    @apply float-right font-bold rounded-full h-5 w-5;
                    @apply flex items-center justify-center;
                    background: #ededed;
                    content: "\002B";
                }
            }

            &--active {
                .filter__header::after {
                    @apply font-normal text-4xl relative;
                    content: "\002D";
                    top: -2px;
                }
            }
        }
    }
}
