.hero {
    &__content {
        padding: 1.25rem;
        background: rgba(255, 204, 0, 0.9);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 2rem;
        font-size: .8625rem;

        @screen md {
            font-size: 1rem;
            left: 5rem;
            width: 40%;
            margin: 0;
        }
    }

    &__quote {
        padding: 0;
        margin: 0;
    }

    &__author {
        padding: 1rem 0 0 0;
        margin: 0;
        font-weight: 600;
    }
}
