.navbar {
    @apply flex items-center bg-white border-b border-gray-400 p-3 flex-wrap relative;
    &__toggler {
        @apply inline-flex p-3 rounded ml-auto outline-none;
        svg{
            fill: black;
            @apply h-4;
        }
        svg,img{
            max-height: 70px;
        }
        @screen lg {
            @apply hidden;
        }
    }
    &__brand {
        @apply p-2 inline-flex items-center;
        &-text {
            @apply text-xl text-white font-bold uppercase tracking-wide;
        }
    }
    &__items {
        @apply w-full static;
        max-height: 0;

        @screen lg {
            @apply inline-flex flex-grow w-auto;
        }

        &--toggled {
            @apply bg-white right-0 absolute px-3 py-2;

            @media (max-width: 1024px) {
                @apply border-b border-t border-gray-400;
            }
            transition: max-height 0.5s ease-out;
            max-height: 500px;
            z-index: 99;
            top: 100%;
            left:0;
            @screen lg {
                position: static;
            }
            .navbar__links {
                @apply list-none flex flex-col items-center;
                opacity: 1;
                transition: opacity 0.3s ease-in;
                .navbar__item{
                    pointer-events: all;
                }
            }
        }

        .navbar__links {
            @apply hidden mb-0 w-full items-center flex flex-col list-none;

            @screen lg {
                @apply inline-flex flex-row ml-auto w-auto items-center h-auto;
            }
            @media (max-width: 1024px) {
                opacity: 0;
                pointer-events: none;
            }
            .navbar__item {

                @apply px-3 py-2;

                &:hover {
                    @apply bg-gray-400 py-2 rounded px-3 text-gray-800;
                }
                .navbar__link {
                    &--active{
                        @apply text-gray-600;
                    }
                    @apply w-full rounded items-center justify-center;

                    @screen lg {
                        @apply inline-flex w-auto;
                    }
                }
            }
        }
    }
}
