.navbar {
    display: flex;
    align-items: center;
    background: white;
    border-bottom: 1px solid #eee;
    padding: 0.5rem;
    flex-wrap: wrap;
    position: relative;
    &__toggler {
        display: inline-flex;
        padding: 0.75rem;
        border-radius: 0.25rem;
        margin-left: auto;
        outline: none;
        border: 1px solid #eee;
        svg {
            fill: black;
            height: 1rem;
        }
        svg,
        img {
            max-height: 70px;
        }
        @media (min-width: 1024px) {
            display: none;
        }
    }
    &__brand {
        padding: 0.5rem;
        display: inline-flex;
        align-items: center;
        &-text {
            font-size: 1.25rem;
            font-weight: bold;
        }
    }
    &__items {
        display: flex;
        width: 100%;
        list-style: none;
        margin-bottom: 0;
        align-items: center;
        flex-direction: column;
        max-height: 0;
        opacity: 0;
        margin:0;
        @media (min-width: 1024px) {
            position: static;
            flex-direction: row;
            margin-left: auto;
            width: auto;
            opacity: 1;
        }
        &--toggled {
            position: absolute;
            left: 0;
            right: 0;
            opacity: 1;
            top: 100%;
            padding-right: 0.75rem;
            padding-left: 0.75rem;
            transition: max-height 0.2s ease-out;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            background: white;
            border-bottom: 1px solid #eee;
            border-top: 1px solid #eee;
            max-height: 500px;
            z-index: 99;
            text-align: center;
            .navbar__item {
                width: 100%;
                opacity: 1;
            }

        }

        .navbar__item {
            padding-right: 0.75rem;
            padding-left: 0.75rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            &:hover {
                border-radius: 0.25rem;
                background-color: #eee;
            }
            .navbar__item-link {
                width: 100%;
                align-items: center;
                justify-content: center;
                border-radius: 0.25rem;
                text-decoration: none;
                &,
                &:active,
                &:focus {
                    color: black;
                }
                &--active {
                    color: gray;
                    text-decoration: none;
                }
            }
        }
    }
}
